/Netbeans/day11_0111_HN/nbproject/private/
/Netbeans/day11_0111_HN/build/
/Netbeans/Self_Test/nbproject/private/
/Netbeans/Self_Test/build/
/Netbeans/day11_0114_HN/nbproject/private/
/Netbeans/day12_0114_HN/nbproject/private/
/Netbeans/day12_0114_HN/build/
/Netbeans/day13_0115_HN/nbproject/private/
/Netbeans/day14_0116_HN/nbproject/private/
/Netbeans/day13_0115_HN/build/
/Netbeans/day14_0116_HN/build/
/Netbeans/day15_0117_HN/nbproject/private/
/Netbeans/day15_0117_HN/build/
/Netbeans/Project_Grace/nbproject/private/
/Netbeans/Project_Grace/build/